<div class="td-dynamic-complexfield-wrapper">
    <mat-form-field class="td-dynamic-complexfield-field">
        <input #elementComplexField
               matInput
               [(ngModel)]="value"
               [formControl]="control"
               [placeholder]="label"
               [matAutocomplete]="auto"
               [type]="type"
               [required]="required">
      
        <mat-autocomplete class="auto" #auto="matAutocomplete" [displayWith]="displayView">
            <div style="max-height: 192px; overflow-y: auto" (scroll)="onScroll($event)">
                <mat-option *ngFor="let object of filteredObjects | async" [value]="object">
                        <span *ngIf="object.subtitlefield">
                            <!-- <mat-icon>person</mat-icon> -->
                            <span class="circle">
                                {{object.titlefield.substring(0,1)}}
                            </span>
                            <span class="title">
                                {{object.titlefield}}
                            </span>
                            <small class="subtitle">{{object.subtitlefield}}</small>
                        </span>
                        <span *ngIf="!object.subtitlefield || object.subtitlefield === ''">
                            <!-- <mat-icon>person</mat-icon> -->
                            <span class="circle">
                                {{object.titlefield.substring(0,1)}}
                            </span>
                            <span class="onlytitle">
                                {{object.titlefield}}
                            </span>
                        </span>
                </mat-option>
                <mat-option *ngIf="loadingData">
                    loading ...
                </mat-option>
            </div>
        </mat-autocomplete>
    </mat-form-field>
</div>