<div class="td-dynamic-complexfield-wrapper">
    <mat-form-field class="td-dynamic-complexfield-field">
        <input #elementComplexField
               matInput
               [(ngModel)]="value"
               (ngModelChange)="filterObjects($event)"
               [formControl]="control"
               [placeholder]="label"
               [matAutocomplete]="auto"
               [type]="type"
               [required]="required">
      
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let object of filteredObjects | async" [value]="object.titlefield" (scroll)="loadMore()">
                <span>
                    <mat-icon>person</mat-icon>
                    <span class="title">
                        {{object.titlefield}}
                    </span>
                    <small class="subtitle">{{object.subtitlefield}}</small>
                </span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>