.td-dynamic-input-wrapper {
  // [layout="row"]
  flex-direction: row;
  // [layout]
  display: flex;
  box-sizing: border-box;
  .td-dynamic-input-field {
    // [flex]
    flex: 1;
    box-sizing: border-box;
  }
}

::ng-deep .cdk-overlay-pane {
  /* Do you changes here */
    min-width:250px;
}

.title {
  position: absolute;
  top: -8px;
}

.onlytitle {
  position: absolute;
  top: 0px;
}

.subtitle {
  position: absolute;
  top: 10px;
  font-weight: 100;
}

.circle{
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  margin-right: 10px;
  text-align: center;
}