.mat-form-field {
  display: block;

  .error_wrapper > mat-error {
    font-size: 70%;
    margin-top: 20px;
  }
}

.mat-input-placeholder {
  color: #e53935;
}

.td-dynamic-input-wrapper {
  // [layout="row"]
  flex-direction: row;
  // [layout]
  display: flex;
  box-sizing: border-box;
  .td-dynamic-input-field {
    // [flex]
    flex: 1;
    box-sizing: border-box;
  }
}

::ng-deep .cdk-overlay-pane {
    min-width:250px;
}

.title {
  position: absolute;
  top: -8px;
}

.onlytitle {
  position: absolute;
  top: 0px;
}

.subtitle {
  position: absolute;
  top: 10px;
  font-weight: 100;
}

.circle{
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  margin-right: 10px;
  text-align: center;
}

.loading-option, .error-option {
  padding: 0;
}

.loading-option-text {
  margin: 0 16px;
  text-align: center;
}

// custom styling for input placeholder/label 
::ng-deep .mat-input-infix {
  height:32px;
}

::ng-deep .mat-input-placeholder {
  margin-top: 8px;
}

::ng-deep .mat-focused .mat-form-field-label {
  margin-top: 0;
}